body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


img {
  width: 100%;
}


.container {
  width: 1200px;
  margin: auto;
}


/* Header */
.header .judul {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.header ul {
  margin-top: -10px;
  text-align: center;
}

.header ul li {
  display: inline-block;
  font-size: 20px;
}

.header ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 20px;
}

.header a:hover {
  background-color: #ffffff;
  color: black;
}
/* Akhir Header */


/* Hero */
.hero {
  height: 400px;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: 0 -810px;
  margin-top: 40px;
}
/* Akhir Hero */


/* Content */
.content h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top:50px;
}

.content .penulis {
  font-size: 15px;
  margin-top: -25px;
  text-align: center;
}

.content .penulis a {
  color: #ffffff;
  text-decoration: none;
}

/* main */
.main {
  padding: 20px;
  width: 800px;
  box-sizing: border-box;
  float: left;
}

.main p {
  font-size: 18px;
  text-align: justify;
}

/* sidebar */
.sidebar {
  width: 400px;
  min-height: 700px;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 90px;
}

.sidebar img {
  width: 150px;
  margin: 10px;
  text-align: center;
}
/* Akhir Content */


/* Footer */
.footer {
  color: black;
  padding: 3px;
  background-color: #ffffff;
}

.footer .copy {
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
}
/* Akhir Footer */


/* Clearfix */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf::before,
.cf::after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf::after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}